<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    {% load static %}

    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link href="{% static "assets/vendor/fonts/circular-std/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/libs/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="{% static "assets/images/logo.png" %}" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                    

                <form action="/login/" method="post" >
                    {% csrf_token %}
                    
                    {% if form.non_field_errors%}

                    {% for text in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                            {{ text }}

                        </div>
                    {%endfor%}
                    {%endif%}


                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    {% for field in form.visible_fields %}

                    <div class="form-group">
                            <input class="form-control form-control-lg" id="{{field.name}}" type="{{field.field.widget.input_type}}"
                             placeholder="{% if field.name == "username" %}Email{% else %}{{field.name|title}}{% endif %}"
                             autocomplete="off" name="{{field.name}}">
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </form>
            </div>
            </div>



            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="../sign-up/" class="footer-link">Create An Account</a></div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Forgot Password</a>
                </div>
            </div>
        </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static "assets/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
</body>
 
</html>

