<!doctype html>
<html lang="en">
 
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign Up</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link href="{% static "assets/vendor/fonts/circular-std/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/libs/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
  
    <form class="splash-container" action="/sign-up/" method="post">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-1">Registration Form</h3>
                <p>Please enter your user information.</p>
            </div>

            <div class="card-body">
                    {% load widget_tweaks %}
                    {% csrf_token %}
                    {{ form.non_field_errors }}
    
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <div class="form-group">
                    {% render_field field|add_error_class:"is-invalid" placeholder=field.label class="form-control form-control-lg" %}
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    </div>

                    {% endfor %}

                

                    <div class="form-group pt-2">
                        <button class="btn btn-block btn-primary" type="submit">Register My Account</button>
                    </div>

                
            </div>
            <div class="card-footer bg-white">
                <p>Already member? <a href="../login/" class="text-secondary">Login Here.</a></p>
            </div>
        </div>
    </form>
</body>

 
</html>