
{% extends "default.html" %}

{% block title %}Settings{% endblock %}

{% block body %}


<div class="row">
    <div class="col-auto">
        <div class="card">

            {% if perms.MAIN.add_project  %}
            <div class="card-body" style="padding: 0.25rem;">
              <a href="./add/" class="btn btn-primary"><i class=" fas fa-plus"></i>  Add project</a>
            </div>
            {% endif%}
        </div>
    </div>
</div>


<div class="row">

    {% for project in projects %}


    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12" style="min-width:300px">
        <div class="card" style="min-height: 22rem;">
            <div style="position:relative;">
                <img alt="..." class="card-img-top img-fluid "
                     src="{{project.logo.url}}" style="object-fit: cover; max-height: 130px; min-height: 130px;">
                <div class="d-inline-flex p-2 bg-primary text-white rounded"
                     style="margin-right: 20%; position:absolute; bottom:0px ; left:0px;">{{project.title}}
                </div>
            </div>


            <div class="card-body" style="overflow: hidden; max-height: 165px;">
                <div class="card-text">{{project.description}}</div>

            </div>

            <div class="card-footer">

                <div class="row">

                    <div class="col justify-content-center">
                        <a class="btn-account" style="width: -moz-fit-content;" href="users/{{project.creator.username}}" role="button">


                <span class="user-avatar">
                    <img alt="User Avatar" class="user-avatar-lg rounded-circle" style="margin-bottom: -9px;"
                         src="{{project.creator.avatar.url}}">
                 </span>
                            <div class="account-summary">
                                <h6 style="margin-bottom: 0px;">Created {{project.created|date:"d F Y"}} by:</h6>

                                <span class="account-description">{{project.creator.username}}</span>
                                <h5 class="account-name">{{project.creator.first_name}}
                                    {{project.creator.last_name}}</h5>
                                <h6 class="account-name">{{project.creator.position}}</h6>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                                                <a href="./view/{{project.slug}}/" class="btn btn-primary btn-md" style="margin-top: 10px;">More</a>

                                <a href="./edit/{{project.slug}}/" class="btn btn-primary btn-md" style="margin-top: 10px;">Edit</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    {% endfor %}
</div>

{% endblock %}


<a href="#" class="btn btn-primary btn-md float-right">More/Edt</a>


<a href="#" class="btn-account" role="button">
                    <span class="user-avatar">
                         <img src="{{project.creator.avatar.url}}" alt="User Avatar"
                              class="user-avatar-lg rounded-circle">
                        </span>
    <div class="account-summary">
        <h5 class="account-name">{{project.creator.first_name}} {{project.creator.last_name}}</h5>
        <span class="account-description">@{{project.creator.username}}</span>
    </div>
</a>


<a href="#" class="btn-account" role="button">
    <h6 style="margin-bottom: auto;">Created {{project.created|date:"d F Y"}} by:</h6>

    <img src="{{project.creator.avatar.url}}" alt="User Avatar" class="user-avatar-lg rounded-circle">

    <div class="account-summary">
        <span class="account-description">@{{project.creator.username}}</span>
        <h5 class="account-name">{{project.creator.first_name}} {{project.creator.last_name}}</h5>
        <h6 class="account-name">{{project.creator.position}}</h6>
    </div>

</a>


<div class="row">

    <div class="col">


        <div><a class="btn-account" href="users/{{project.creator.username}}" role="button">


            <div class="account-summary" style="display: inline-table;">
                <h6 style="margin-bottom: 0px;">Created {{project.created|date:"d F Y"}} by:</h6>
                <div style="display: inline-grid;">
                    <span class="account-description">@{{project.creator.username}}</span>
                    <h5 class="account-name">{{project.creator.first_name}} {{project.creator.last_name}}</h5>
                    <h6 class="account-name">{{project.creator.position}}</h6>
                </div>
                <img alt="User Avatar" class="user-avatar-lg rounded-circle"
                     src="{{project.creator.avatar.url}}"
                     style="margin: 0; vertical-align: top; margin-left: inherit; ">
            </div>


        </a></div>
    </div>

    <div class="col">
        <a class="btn btn-primary btn-lg btn-block" href="./edit/{{project.slug}}">More</a>

        <a class="btn btn-primary btn-lg btn-block" href="./edit/{{project.slug}}">Edit</a>
    </div>


</div>
