<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>251 symbols</title>
</head>
<body>
{% for each in results%}
<h4>{{ each.name}}</h4>
<ul>

<li>Total results: {{each.total_results}}</li>
<li>Total profit: {{"%.2f"|format(each.total_profit_procent)}} %</li>
<li>Total stoploss: {{"%.2f"|format(each.total_stoploss_procent)}} %</li>
<br>
<li>Total bulls results: {{each.bulls_results}}</li>
<li>Total bulls profit: {{"%.2f"|format(each.bulls_profit_procent)}} %</li>
<li>Total bulls stoploss: {{"%.2f"|format(each.bulls_stoploss_procent)}} %</li>
<br>

<li>Total bear results: {{each.bears_results}}</li>
<li>Total bear profit: {{"%.2f"|format(each.bears_profit_procent)}} %</li>
<li>Total bear stoploss: {{"%.2f"|format(each.bears_stoploss_procent)}} %</li>
</ul>
{% endfor %}

</body>
</html>