<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Backtesting report</title>
    <link rel="stylesheet" href="./assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="./assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/libs/css/style.css">
    <link rel="stylesheet" href="./assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
</head>

<body>

<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">


            <div class="card">

                <div class="card-header d-flex">
                    <h4 class="card-header-title ">Strategy name:   {{total_results.strategy_name}}</h4>


                </div>

                <div class="card-body">

                    <div class="row">


                        <div class="col">
                            Symbols tested: {{ total_results.symbols_count }}


                        </div>

                        {% if tradetest %}
                        <div class="col">
                            Take profit target: {{ total_results.take_profit_target }}%
                            <br>
                            Stopoloss target: {{ total_results.stoploss_target }}%
                            <br>
                            Total BUY positions: {{ total_results.total_pos }}
                            <br>
                            Profit rate: {{ total_results.profit_rate }}  ( {{ total_results.profit_rate_perc|round(2, 'floor') }} % )
                            <br>
                            Stoploss rate: {{ total_results.stoploss_rate}}  ( {{ total_results.stoploss_rate_perc|round(2, 'floor')}} % )

                        </div>
                        {% endif %}





                    </div>




                </div>


                {% for each in results %}
                <div class="card">

                    <div class="card-header d-flex">
                        <h4 class="card-header-title ">{{ each.parameters.symbol }}</h4>


                        <div class="toolbar ml-auto">

                            <a href="https://finance.yahoo.com/quote/{{ each.parameters.symbol }}/chart?p={{ each.parameters.symbol }}"
                               class="btn btn-primary btn-xs float-right" style="margin-right: 25px;">Show Yahoo
                                chart</a>


                        </div>
                    </div>

                    <div class="card-body" style="padding-bottom: 0px;">

                        <div class="row">
                            <div class="col">

                                Start date: {{ each.parameters.start_date }}
                                <br>
                                End date: {{ each.parameters.end_date }}




                            </div>

                            {% if tradetest %}
                            <div class="col">
                                <ul>
                                    {% for x,y in each.trade_test.items() %}
                                    <li>{{ x }}: {{ y }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}


                            {% for evry in each.subresults %}
                            <div class="row">
                                <ul>
                                    {% for x,y in evry.items() %}
                                    <li>{{ x }}: {{ y }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}


                        </div>

                        <div class="card-body" style="padding-top: 0px;">
                            <div class="text-center">
                                <img src="{{ each.img }}" class="img-fluid" alt="Responsive image">
                            </div>

                        </div>


                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>


    </div>


    <script src="./assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="./assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="./assets/libs/js/main-js.js"></script>
</body>

</html>


