<!doctype html>
<html lang="en">
 
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/circular-std/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/libs/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/datatables/css/dataTables.bootstrap4.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/datatables/css/buttons.bootstrap4.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/datatables/css/select.bootstrap4.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/datatables/css/fixedHeader.bootstrap4.css" %}">

    <link rel="stylesheet" href="{% static "assets/vendor/datepicker/tempusdominus-bootstrap-4.css" %}" />
    <link rel="stylesheet" href="{% static "assets/vendor/inputmask/css/inputmask.css" %}" >
    <link rel="stylesheet" href="{% static "assets/vendor/multi-select/css/multi-select.css" %}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/overview">Concept</a>

            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
      <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link {% if active_tab == 'overview' %}active{% endif %}" href="/overview" ><i class="fa fa-fw fa-tachometer-alt"></i>Overview</a>
                            </li>

                             <li class="nav-item ">
                                <a class="nav-link {% if active_tab == 'notifications-settings' %}active{% endif %}" href="/notifications-settings" ><i class="fa fa-fw fa-wrench"></i>Notifications settings</a>
                            </li>



                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">

                                     {% block body %}{% endblock %}

            </div>
           
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static "assets/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
    <script src="{% static "assets/vendor/slimscroll/jquery.slimscroll.js" %}"></script>
    <script src="{% static "assets/vendor/multi-select/js/jquery.multi-select.js" %}"></script>
    <script src="{% static "assets/libs/js/main-js.js" %}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script src="{% static "assets/vendor/datatables/js/buttons.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/vendor/datatables/js/data-table.js" %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


    {% block script %}
    {% endblock %}

</body>
 
</html>