{% extends "default.html" %}

{% block title %}{{ task.title }}{% endblock %}

{% block body %}

    <div class="row">


        <div class="col-xl-3 col-md-6 ">
            <div class="card">

                <small class="text-muted card-header"><span style="position: absolute;margin-top: 5px;"><a
                        href="/projects/view/{{ task.project.slug }}/"><i
                        class="fas fa-server"></i> {{ task.project.title }}</a> /<a href="/tasks/view/{{ task.slug }}/"> <i
                        class="fas fa-list"></i>
                                    task: {{ task.id }}
                                </a> </span> <a href="/tasks/edit/{{ task.slug }}/"
                                                class="btn btn-primary btn-xs float-right">Edit</a></small>

                <h5 class="card-body card-title mb-0"># Task: {{ task.title }}</h5>


                <div class="card-footer pb-0 pt-0">
                    <div class="row">

                        <div class="col justify-content-center ">


                            {% if task.executor != None %}
                                <div class="media">
                                    <div class="align-self-center user-avatar-lg mr-3 rounded">
                                        <a href="/users/{{ task.executor.username }}">
                                            <img src="{{ task.executor.avatar.url }}" alt="{{ task.executer.username }}"
                                                 class="align-self-center rounded-circle user-avatar-lg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="/users/{{ task.executor.username }}">
                                            <h5 class="mb-0">Assigned on:</h5>
                                            <h6 class="account-description mb-0"><a href="/users/{{ task.executor.username }}">{{ task.executor.username }}</a>
                                            </h6>
                                            <h5 class="mb-0" style="line-height: 9px;">{{ task.executor.first_name }} {{ task.executor.last_name }}</h5>
                                            <h6 class="account-name mb-2">{{ task.creator.position }}</h6>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="text-center ">
                                    <a href="" class="btn btn-primary btn-sm mb-2 mt-2 assign-btn"
                                       id="{{ task.id }}">Assign on me</a>
                                </div>
                            {% endif %}


                        </div>
                    </div>


                </div>


            </div>


            <div class="row">


                <div class="col-xl-6">

                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h6 class="text-muted">Priority
                                {% if task.priority == "NORMAL" %}
                                    <span class="float-right"><span
                                            class="badge-dot badge-primary"></span>{{ task.get_priority_display }}</span>
                                {% elif task.priority == "HIGH" %}
                                    <span class="float-right"><span
                                            class="badge-dot badge-warning"></span>{{ task.get_priority_display }}</span>
                                {% elif task.priority == "URGENT" %}
                                    <span class="float-right"><span
                                            class="badge-dot badge-danger"></span>{{ task.get_priority_display }}</span>
                                {% elif task.priority == "LOW" %}
                                    <span class="float-right"><span
                                            class="badge-dot badge-success"></span>{{ task.get_priority_display }}</span>
                                {% endif %}

                            </h6>
                        </div>

                    </div>
                </div>


                <div class="col-xl-6">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h6 class="text-muted">Status
                                {% if task.status == "TO-DO" %}
                                    <span class="badge badge-info float-right">{{ task.get_status_display }}</span>
                                {% elif task.status == "IN-PROGRESS" %}
                                    <span class="badge badge-primary float-right">{{ task.get_status_display }}</span>

                                {% elif task.status == "DONE" %}
                                    <span class="badge badge-success float-right">{{ task.get_status_display }}</span>
                                {% elif task.status == "CLOSED" %}
                                    <span class="badge badge-dark float-right">{{ task.get_status_display }}</span>
                                {% endif %}

                            </h6>
                        </div>
                    </div>
                </div>


                <div class="col-xl-6">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h6 class="text-muted">Kind
                                {% if task.kind == "FEATURE" %}
                                    <span class="float-right">Feature <i class="fas fa-tag"></i> </span>
                                {% elif task.kind == "BUG" %}
                                    <span class="float-right">Bug <i class="fas fa-bug"></i> </span>
                                {% else %}
                                    <span class="float-right">Task <i class="fas fa-check"></i> </span>
                                {% endif %}

                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h6 class="text-muted float-left">Attachments <i class="fas fa-file"> {{ files_count }}</i>
                            </h6>
                        </div>
                    </div>
                </div>


            </div>


        </div>



        <div class="col-xl-3 col-lg-6 card">

            <div class="card-header">
            <h5 class="card-title" style="margin-bottom: 2px;">Comments <i class="fas fa-bullhorn"> {{ comments_count }}</i>: </h5>
            </div>

            <div class="card-body" style="word-break: break-all;overflow: auto; max-height: 345px;">
                <ul class="list-group">

                                    {% for comment in comments %}

                                    <li class="media list-group-item">
                                        <img class=" mr-3 user-avatar-lg rounded-circle" src="{{ comment.commentator.avatar.url }}" alt="Generic placeholder image">
                                        <div class="media-body">

                                            <h5 class="card-title mb-1 text-truncate"><a href="/users/{{ comment.commentator.username }}/">{{ comment.commentator.first_name }} {{comment.commentator.last_name }}</a> </h5>
                                            <h6 class="card-subtitle text-muted mb-1"> {{ comment.created }}</h6>
                                            <span>{{ comment.text }}</span>
                                        </div>
                                    </li>

                                    {% endfor %}

                </ul>
            </div>

            <div class="card-footer" style="padding-left: 0.5rem; padding-right: 0.5rem;">
                <div id="task-comment-container">
                <textarea  autocomplete="off" id="comment-textarea"  class="form-control" placeholder="Type message" rows="1"></textarea>
                <a href="" class="btn btn-primary btn-sm mb-2 mt-2 task-comment-btn"
                                           value="{{ task.id }}">Comment</a>
                </div>
            </div>

        </div>

        <div class="col-xl-6">
            <div class="card">

                <div class="card-header"><h5 class="card-title mb-0" >Time <i class="far fa-clock"></i> {{ all_time }}:</h5></div>

                <div class="card-body">


                    {% for time_bar in time_bars %}
                    <div style="display: flex; white-space: nowrap; margin-bottom: 10px;" role="button" data-toggle="collapse" data-target="#zone-{{ time_bar.user.id }}" aria-expanded="true" aria-controls="collapseOne">
                        <div class="user-avatar mb-0"><img src="{{ time_bar.user.avatar.url }}" alt="User Avatar" class="rounded-circle user-avatar-lg"></div>
                        <div class="col" style="margin-left: 10px;">
                        <div class="row">
                            <div ><a href="/users/{{ time_bar.user.username }}/">{{ time_bar.user.first_name }} {{ time_bar.user.last_name }}</a></div>

                        </div>
                        <div class="row">
                            <div class="progress" style="width: 100%;"><div class="progress-bar" role="progressbar" style="width: {{ time_bar.bar}}%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">{{ time_bar.time }} hrs</div></div>

                        </div>
                            <div class="row">
                                 <span class="float-right"> <small>Show more...</small></span>
                            </div>
                        </div>
                    </div>

                     <div id="zone-{{ time_bar.user.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                     <div class="card-body pt-0 pb-0">
                         <ul>
                         {% for track in time_bar.tracks %}
                             <li><small>{{ track.date|date:"d F Y" }}</small> <br>   {{ track.time }} Hrs. <br>  {% if track.comment %}{{ track.comment }} {% endif %}</li>
                         {% endfor %}
                         </ul>
                     </div>
                     </div>


                    {% endfor %}


                </div>


                <div class="card-footer">
                     <div id="time-track-container-{{ task.id }}">
                                        <label class="float-left">
                                            <small>Time:</small>
                                        </label>
                                        <input autocomplete="off" id="track-time-fld-{{ task.id }}" class="form-control" type="number"
                                               aria-placeholder="hrs" placeholder="hrs." step="0.5" min="0">
                                        <label class="float-left">
                                            <small>Time comment:</small>
                                        </label>
                                        <textarea autocomplete="off"  class="form-control" id="time-comment-{{ task.id }}"
                                                  rows="1"></textarea>
                                        <a href="" class="btn btn-primary btn-sm mb-2 mt-2 track-time-btn"
                                           value="{{ task.id }}">Track</a>
                                        </div>

                </div>

            </div>


        </div>


    </div>


    </div>







{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#task-table').DataTable({"lengthChange": false});
        });

    </script>

    <script type="text/javascript">
        time_track();

        function time_track() {
            $(".track-time-btn").click(function (eventObject) {
                    eventObject.stopImmediatePropagation();
                    eventObject.preventDefault();
                    var btn_id = $(this).attr("value");
                    $("#time-track-container-"+btn_id).hide().after('<span id="error-spiner-timetrack-' + btn_id + '" class="dashboard-spinner spinner-xs"></span>');
                    var time_input = $(this).siblings('input').first();
                    var comment_input = $(this).siblings('textarea').first();
                    var time_input_val = $(this).siblings('input').first().val();
                    var comment_input_val = $(this).siblings('textarea').first().val();
                    $.ajax({
                    url: "/tasks/time-track/",
                    data: {task_id: btn_id,
                           time_val:time_input_val,
                           comment_str:comment_input_val},
                    type: 'post',
                    timeout: 3000,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                         $("#error-spiner-timetrack-" + btn_id).replaceWith('<div style="padding: 6px;" id="timetrack-ok-'+btn_id+'" class="alert alert-danger mb-2 mt-2" role="alert">Error. Try again.</div>');
                         setTimeout(reset_form,timeout=5000);

                            function reset_form(){
                                 $("#collapseThree-"+btn_id).removeClass('show');
                            $("#time-track-container-"+btn_id).show().children().each(function (index,obj) {
                               $(this).val('');
                            });

                            $("#timetrack-ok-"+btn_id).hide()};
                                                        location.reload();


                    },
                    success: function (data) {
                         $("#error-spiner-timetrack-" + btn_id).replaceWith('<div style="padding: 6px;" id="timetrack-ok-'+btn_id+'" class="alert alert-success mb-2 mt-2" role="alert">Time tracked.</div>');
                            setTimeout(reset_form,timeout=1000);

                            function reset_form(){
                                 $("#collapseThree-"+btn_id).removeClass('show');
                            $("#time-track-container-"+btn_id).show().children().each(function (index,obj) {
                               $(this).val('');
                            });

                            $("#timetrack-ok-"+btn_id).hide()};
                            location.reload();




                    }
                                    });



                }
            )
        }


    </script>


      <script type="text/javascript">
        task_comment();

        function task_comment() {
            $(".task-comment-btn").click(function (eventObject) {
                    eventObject.stopImmediatePropagation();
                    eventObject.preventDefault();
                    $("#task-comment-container").hide().after('<span id="error-spiner-comment" class="dashboard-spinner spinner-xs"></span>');
                    var comment_text = $(this).siblings('textarea').first().val();
                    var task_id ={{ task.id }};
                    $.ajax({
                    url: "/tasks/comment/",
                    data: {comment: comment_text,
                           task_id:task_id,
                           },
                    type: 'post',
                    timeout: 3000,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                         $("#error-spiner-comment").replaceWith('<div style="padding: 6px;" id="timetrack-bad" class="alert alert-danger mb-2 mt-2" role="alert">Error. Try again.</div>');
                         setTimeout(reset_form,timeout=5000);

                            function reset_form(){

                            $("#task-comment-container").show().children().each(function (index,obj) {
                               $(this).val('');
                               $("#timetrack-bad").hide();


                            location.reload();
                            });


                            };

                    },
                    success: function (data) {
                         $("#error-spiner-comment").replaceWith('<div style="padding: 6px;" id="timetrack-ok" class="alert alert-success mb-2 mt-2" role="alert">Commented.</div>');
                            setTimeout(reset_form,timeout=1000);

                            function reset_form(){
                            $("#task-comment-container").show().children().each(function (index,obj) {
                               $(this).val('');
                            });

                            $("#timetrack-ok").hide()};
                            location.reload();




                    }
                                    });



                }
            )
        }


    </script>

{% endblock %}


<div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">500 hr</div>
                    </div>

                        <span class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">500 hr</span>
